.css1 {
  /* margin-top: 100px; */
  /* margin-left: 100px; */
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 250px;
  text-align: left;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
}

.css2 {
  color: rgb(255, 255, 255);
  /* margin-right: 200px; */
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 250px;
  text-align: right;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
}
.cssi {
  /* position: absolute; */
  top: 1350px;
  left: 550px;
  display: flex;
  justify-content: center;
  height: 750px;
  width: 750px;
}

.css3 {
  /* position: absolute; */
  /* top: 1310px; */
  /* margin-top: 150px; */
  /* margin-left: 100px; */
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 250px;
  text-align: left;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

.css4 {
  /* position: absolute; */
  /* top:1749px; */
  /* color: rgb(255, 255, 255); */
  /* margin-right: 200px; */
  /* left: 325px; */
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 250px;
  text-align: right;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}
.css1m {
  /* margin-top: 100px; */
  /* margin-left: 100px; */
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 57.5px;
  text-align: left;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
}

.css2m {
  color: rgb(255, 255, 255);
  /* margin-right: 200px; */
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 57.5px;
  text-align: right;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
}
.cssim {
  /* position: absolute; */

  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.css3m {
  /* position: absolute; */
  /* top: 1310px; */
  /* margin-top: 150px; */
  /* margin-left: 100px; */
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 57.5px;
  text-align: left;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

.css4m {
  /* position: absolute; */
  /* top:1749px; */
  /* color: rgb(255, 255, 255); */
  /* margin-right: 200px; */
  /* left: 325px; */
  font-family: "Work Sans", sans-serif;
  font: 900 35vmin/35vh;
  font-size: 57.5px;
  text-align: right;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

.container_row {
  display: grid;
  padding-left: 75px;
  padding-right: 75px;
}
.container_row_mob {
  display: grid;
  padding-left: 15px;
  padding-right: 15px;
}

.layer1,
.layer2,
.layer3 {
  grid-column: 1;
  grid-row: 1;
}

.layer1 {
  color: #fff;
  z-index: 1;
}

.layer2 {
  z-index: 3;
}
.layer3 {
  z-index: 2;
}
