@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* { margin: 0; padding: 0 }

/* header {
  overflow: hidden;
  height: 100vh;
  background: url(oatbkg.png);
  background-repeat: no-repeat;
  background-position: center center;
  align-content: center;
  z-index: 2;
} */

.css1 {
  /* margin-top: 100px; */
  margin-left: 100px;
  color: rgb(255, 255, 255);
  font: 900 35vmin/35vh work sans;
  font-size: 250px;
  text-align: left;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  
}

.css2{
  color: rgb(255, 255, 255);
  margin-right: 200px;
  font: 900 35vmin/35vh work sans;
  font-size: 250px;
  text-align: right;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
}
.cssi{
  position: absolute;
  top: 1350px;
  left: 550px;
  display: flex;
  justify-content: center;
  height:750px;
  width: 500px;
}

.css3 {
  position: absolute;
  top: 1310px;
  margin-top: 150px;
  margin-left: 100px;
  /* color: rgb(255, 255, 255); */
  font: 900 35vmin/35vh work sans;
  font-size: 250px;
  text-align: left;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

.css4{
  position: absolute;
  top:1749px;
  /* color: rgb(255, 255, 255); */
  margin-right: 200px;
  left: 325px;
  font: 900 35vmin/35vh work sans;
  font-size: 250px;
  text-align: right;
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;

}
