@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');
.sponsor
{
    
    padding: 0 0 50px 0;
  position: relative;
}
.sponsor_bx
{
    background-image:url('../static/images/sponsorbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-align: center;
     padding: 60px 50px;

}
.heading
{
    font-size: 48px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    height: 56px;
    top: 61px;font-style: normal;
    line-height: normal;

}
.slider{
   
    width: 80%;
    margin: 0 auto;
    position: relative;
   gap:6.56rem ;
    
}
  
.item img {
   
    width: 9rem;
    height: 9rem;
  margin: 0 auto 15px auto;
  margin-top: 7%;
  border-radius: 14px;
  box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.15);



  }
  