.scroll {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.scroll::-webkit-scrollbar {
    width: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
    background: #888;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
