@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cedarville+Cursive&family=Cherry+Swash:wght@400;700&family=Poppins:wght@100&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

/* @font-face {
  font-family: 'Magica'; 
  src: url('Magica.otf') format('otf'); 
  font-weight: normal;
  font-style: normal;
} */

.magicafont {
  font-family: "Abril Fatface", cursive;
  font-size: 72px;
  color: #FFE900;
}
.text_container {
    max-width: 75%;
}